@charset 'utf-8';

@import 'settings/settings';
@import 'foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
@include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
//@include foundation-slider;

 



// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

@-webkit-keyframes rightArrow {
	0% { right: 2% }
	100% { right: 1% }
}

@-moz-keyframes rightArrow {
	0% { right: 2% }
	100% { right: 1% }
}

@-o-keyframes rightArrow {
	0% { right: 2% }
	100% { right: 1% }
}

@keyframes rightArrow {
	0% { right: 2% }
	100% { right: 1% }
}

@mixin animate($animationName, $duration, $timing, $delay, $iterationCount) {
	-webkit-animation: $animationName $duration $timing $delay $iterationCount;
	-moz-animation: $animationName $duration $timing $delay $iterationCount;
	-o-animation: $animationName $duration $timing $delay $iterationCount;
	animation: $animationName $duration $timing $delay $iterationCount;
}

@mixin animation-delay($delay) {
	-webkit-animation-delay: $delay;
	-moz-animation-delay: $delay;
	-o-animation-delay: $delay;
	animation-delay: $delay;
}

html, body {
	height: auto;
	overflow: hidden;
}

.content{
	height: 100%;
	min-height: 100%;
}

.row.expanded > .columns {
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}




$flat-color-asbestos : #7f8c8d;
$flat-color-concrete : #95a5a6;
$flat-color-silver : #bdc3c7;
$flat-color-clouds : #ecf0f1;
$flat-color-midnightBlue : #2c3e50;
$flat-color-belizeHole : #2980b9;
$flat-color-wetAsphalt : #34495e;
$flat-color-peterRiver: #3498db;
$flat-color-greenSea : #16a085;
$flat-color-alizarin: #e74c3c;
$flat-color-turquoise: #1abc9c;
$flat-color-pomegranate: #c0392b;

$flat-color-ebonyClay: #22313F;
$flat-color-darkBlue: #1c202b;

$metro-color-darken: #1d1d1d;

$small-breakpoint: 350px;
$medium-breakpoint: 640px;
$large-breakpoint: 1024px;

$page-background-color: $flat-color-darkBlue;
$page-color: $flat-color-clouds;


.page {

	// overflow-y: auto;
	// overflow-x: hidden;
	// -webkit-overflow-scrolling: touch;
	position: relative;
	background-color: $page-background-color;
	color: $page-color;

	.seeMore,
	.seeLess {
		padding-right: 12px;
		display: block;
		width: 100%;
	}

	.seeMore {
		position: absolute;
		bottom: 5px;
	}

}

.pageContent {
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.scrollable {

	.seeMore,
	.seeLess {
		padding-right: 0px;
	}

	.seeMore {
		position: static;
		display: block;
		width: 100%;
	}

	// to account for the scroll bar width
	.fa-angle-right {
		right: 12px;
	}

	// .fa-angle-down {
	// 	display: block;
	// 	position: static;
	// 	margin: 0 auto;
	// }
}

body {
	font-family: "Jaapokki", "Sans Serif";
}

h1,
h2,
p {
	padding-left: 5%;
	padding-right: 5%;

}

#home {

	background-color: orange;

	// background-image: linear-gradient(to bottom, $flat-color-midnightBlue, $flat-color-wetAsphalt);

	h1 {
		margin-bottom: 0;
		padding-top: 2rem;
		padding-bottom: 5rem;
	}

	#homeHeader {
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;

		background-image: 
		   -webkit-linear-gradient(
				rgba(0, 0, 0, 0.9),
				rgba(0, 0, 0, 0.9)
			),
			url("../images/backlit_keyboard_good.jpg");	

		background-image: 
		   -o-linear-gradient(
				rgba(0, 0, 0, 0.9),
				rgba(0, 0, 0, 0.9)
			),
			url("../images/backlit_keyboard_good.jpg");	

		background-image: 
		   linear-gradient(
				rgba(0, 0, 0, 0.9),
				rgba(0, 0, 0, 0.9)
			),
			url("../images/backlit_keyboard_good.jpg");	
	}

	.basicInfoContainer {
		margin-bottom: 2rem;
		padding: 3rem 3rem;
		background-color: $flat-color-clouds;
		color: $flat-color-darkBlue;
	}

	.button {
		margin-top: 2rem;
	}
	
	.homeFooter {
		padding: 1rem 0;
	}

	@media (min-width: $large-breakpoint) {
		.homeFooter {
			padding-top: 3rem;
		}
	}

}

#portfolio {

	background-color: $flat-color-clouds;
	color: $flat-color-darkBlue;

	.top-bar {
		a {
			color: $flat-color-darkBlue;
		}
		.top-bar-menu li a {
			&:hover, &:focus {
				.customBorder {
					background-color: $flat-color-darkBlue;
				}	
			}
		}
	}

}

h1 {
	font-family: "Jaapokki", "Sans Serif";
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

.button {
	display: inline-block;
	// font-size: 1.5rem;
	font-size: 1rem;
	padding: 1rem;
}

p {
	// font-size: 2rem;
	font-size: 1rem;
}


.top-bar {

	@include top-bar-container;

	width: 100%;
	margin: 0;
	padding-top: 1rem;
	padding-bottom: 0;

	a {
		color: $page-color;
	}

	.top-bar-title {
		font-family: "JaapokkiSubtract", "Sans Serif";
		font-size: 1.1rem;
	}

	.top-bar-right {
		font-size: 1rem;
	}

	.top-bar-menu {

		margin-left: 0;
		margin-bottom: 0;
		list-style-type: none;

		li {
			display: table-cell;
		}

		li a {

			display: block;
			padding: 0.2rem 0.6rem;
			line-height: 1;

			&:hover, &:focus {
				.customBorder {
					background-color: $page-color;
				}
			}
		}
	}

	.customBorder {
		margin: 0.3rem auto 0 auto;
		width: 40%;
		height: 1px;
		background-color: transparent;
	}

	@media (max-width: $small-breakpoint - 1) {
		& {
			padding-left: 0;
			padding-right: 0;
		}
		.top-bar-menu li a {
			padding: 0 0.5rem;
		}
	}
	@media (max-width: $medium-breakpoint - 1) {
		.top-bar-title,
		.top-bar-menu {
			width: 100%;
		}

		.top-bar-menu {
			
			margin: 0 auto;
			text-align: center;
			li {
				display: inline-block;
			}
		}
	}
	@media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint - 1) {
		.top-bar-title {
			font-size: 1.3rem;
		}
		.top-bar-right {
			font-size: 1.15rem;
		}
		.top-bar-menu li a {
			padding: 0.6rem 0.8rem;
		}
	}

	@media (min-width: $large-breakpoint) {
		.top-bar-title {
			font-size: 1.5rem;
			margin: 0 1rem;
		}
		.top-bar-right {
			font-size: 1.3rem;
		}
		.top-bar-menu li a {
			padding: 0.7rem 1rem;
		}
	}
}

.hollowDarkBlueBtn {
	
	@include button-style($flat-color-clouds, $flat-color-darkBlue, $flat-color-darkBlue);

	border-color: $flat-color-darkBlue;

	&:hover, &:focus {
		color: $flat-color-clouds;
	}
}

.darkBlueBtn {
	@include button-style($flat-color-darkBlue, $flat-color-clouds, $flat-color-clouds);

	border-color: $flat-color-darkBlue;

	&:hover, &:focus {
		color: $flat-color-darkBlue;
	}
}





@media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint - 1) {
	h1,
	h2,
	p {
		padding-left: 5%;
		padding-right: 5%;
	}
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2rem;
	}
	.button {
		font-size: 1.25rem;
	}
	p {
		font-size: 1.5rem;
	}
}

@media (min-width: $large-breakpoint) {
	h1,
	h2,
	p {
		padding-left: 4%;
		padding-right: 4%;
	}
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	.button {
		font-size: 1.5rem;
	}
	p {
		font-size: 1.75rem;
	}

}








