html, body {
	height: auto;
	overflow: hidden;
}

.content{
	height: 100%;
	min-height: 100%;
}

.row.expanded > .columns {
	padding: 0;
	margin: 0;
}


/*.page {
	display: inline;
}*/

.home{
	background-color: #CCC;
	color: #000;
}

.portfolio {
	background-color: #333;
	color: #FFF;
}

.contact {
	background-color: #008080;
	color: #FFF;
}


::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}

#projectDetails {
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}